@utility bg-gradient {
  @apply bg-linear-to-b from-[rgba(249,249,249,1)] from-[0.53%] to-white to-[83.28%] dark:from-darkmode-light dark:to-darkmode-body;
}

/* responsive utilities */
@utility responsive-container {
  @apply mx-auto px-4;
}

@media (max-width: 767px) {
  .responsive-container {
    @apply px-3;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .responsive-container {
    @apply px-4;
  }
}

@media (min-width: 1200px) {
  .responsive-container {
    @apply px-6;
  }
}

/* form style */
@utility form-input {
  @apply w-full rounded border-transparent bg-light px-6 py-4 text-text-dark placeholder:text-text-light focus:border-primary dark:focus:border-darkmode-primary focus:ring-transparent dark:border-darkmode-border dark:bg-darkmode-light dark:text-darkmode-text-light;
}

@utility form-label {
  @apply mb-4 block font-secondary text-xl font-normal text-text-dark dark:text-darkmode-text-light;
}
