---
import Base from "@/layouts/Base.astro";
import { getAllTaxonomy } from "@/lib/taxonomyParser.astro";
import { humanize } from "@/lib/utils/textConverter";
import PageHeader from "@/partials/PageHeader.astro";

const collections = ["blog", "ai", "security", "dailyLife"] as const;
const allTags = (
  await Promise.all(collections.map((c) => getAllTaxonomy(c, "tags")))
).flat();
const tags = [...new Set(allTags)];
---

<Base title={"标签"} noindex={true}>
  <PageHeader title={"标签"} />
  <section class="section">
    <div class="container text-center">
      <ul>
        {
          tags.map((tag: any) => {
            const count = allTags.filter((c) => c === tag).length;
            return (
              <li class="m-3 inline-block">
                <a
                  href={`/tags/${tag}`}
                  class="block rounded bg-light px-4 py-2 text-xl text-text-dark dark:bg-darkmode-light dark:text-darkmode-text-dark"
                >
                  {humanize(tag)}{" "}
                  <span class="ml-2 rounded bg-body px-2 dark:bg-darkmode-body">
                    {count}
                  </span>
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </section>
</Base>
